body {
  background-color: #000;
  color: #fff;
  font-family: "Arial", sans-serif;
}
.blog-content {
  padding: 2em;
  margin: auto;
  max-width: 60vw;
  margin-top: 10vh;
}
.blog-content blog_title {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.blog-content h2,
.blog-content h3 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 15px;
}
.blog-content p {
  color: #ddd;
  line-height: 1.6;
  margin-bottom: 20px;
}
.blog-content ul,
.blog-content ol {
  color: #ccc;
  padding-left: 1em;
  margin-bottom: 20px;
}
.blog-content ul li,
.blog-content ol li {
  margin-bottom: 10px;
}
.blog-content ol {
  list-style-type: decimal;
}
.blog-content ul {
  list-style-type: disc;
}
