:root {
  --bg-color-dark: #000000;
  --text-color-dark: #f5f5f7;
  --hl-color-dark: #2997ff;
}
:root body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
  overflow-x: hidden;
}
:root main {
  margin: 0;
  margin-top: 8vh;
  padding: 0;
  width: 100vw;
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}
